.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-elem {
  text-align: center;
}

.card {
  background: #fff;
  max-width: 360px;
  border-radius: 20px;
  margin: 60px auto;
}

.card-header:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shadow1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.btn-red {
  transition-duration: 0.4s;
  background: #373a47;
  color: #b8b7ad;
  border: 3px solid #f44336;
}

.btn-red:hover {
  background-color: #f44336;
}

.btn-green {
  margin-top: 1em;
  transition-duration: 0.4s;
  background: #373a47;
  color: #b8b7ad;
  border: 3px solid #0aa53e;
}

.btn-green:hover {
  background-color: #0aa53e;
}
